body{
    width: 100%vh;
}

h1{
    color: azure;
    font-size: 45px;
}
h5{
    color: rgb(253, 243, 243);
}

li{
    color: black;
    font-size: 30px;
    font-weight: 800;
}



.city{
    height: 70vh;
    
}
.card{
    border: 1px solid black;
    display: inline-block;

    
}

/* .history{
    background-color: aqua;
} */
/* #forecast{
    
display: flexbox;
flex-wrap: wrap;  
flex-direction: column;  
    
} */
/* .future{
    position: absolute;
    top: 430px;
    right: -370px;
} */




/* .main-section{
    background-color: lightgrey;
    height: 100px;
    width: 25rem;
    margin: 20px 90px 30px 0px ;
    
} */

.hidden{
    display: none;
}
#uvColor{
    border: 1px solid;
    border-radius: 5px;
    color: black;
}

   


/* .butn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border-top-right-radius: 29px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 3px 9px 5px 11px;
    text-decoration: none;
    left: 10px;
  }
  
  .butn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  } */



/* @media screen and (max-width: 500px) {
  
    #currentCityDetail {
        width: 100%;
    }
} */