header{
    background-color: rgb(8, 9, 9);
    color: azure;
}

.main-section{
    background-color: lightgrey;
    height: 100px;
    width: 25rem;
    margin: 20px 90px 30px 0px ;
    
}

.hidden{
    display: none;
}