h1{
    color: azure;
}
h5{
    color: gray;
}



.main-section{
    background-color: lightgrey;
    height: 100px;
    width: 25rem;
    margin: 20px 90px 30px 0px ;
    
}

.hidden{
    display: none;
}
#uvColor{
    border: 1px solid;
    border-radius: 5px;
    color: black;
}

.list{
    
}